@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* 
====================================
Global Styling
=====================================
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(120deg, #D3CCE3, #E9E4F0);
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

html {
    font-size: 62.5%;
}

.header {
    font-size: 2.4rem;
    color: #7529df;
}

.header,
.todo {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo__input,
.todo__btn {
    padding: 0.8rem;
    font-size: 2.4rem;
    border: none;
    background: white;
}

.todo__input:focus {
    outline: none;
}

.todo__btn {
    color: #7529df;
    cursor: pointer;
    transition: all 0.3s ease;
}

.todo__btn:hover {
    background: #7529df;
    color: white;
}

/* 
====================================
Todos
=====================================
*/

.todo__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo__list {
    min-width: 30%;
    list-style: none;
}

.todo__wrapper {
    margin: 0.6rem;
    background: white;
    color: black;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo__wrapper--item {
    flex: 1;
    padding: 0 1rem;
}

.todo__wrapper--check,
.todo__wrapper--del {
    background: rgb(253, 91, 91);
    color: white;
    border: none;
    padding: 1.4rem;
    cursor: pointer;
    font-size: 1.4rem;
}

.todo__wrapper--check {
    background: rgb(50, 184, 50);
}